*{
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    color: #333333;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
#home{
    width: 100%;
    height:580px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("img/intro-bg.jpg") ;
    background-size: cover;
    background-position: center;
}
/*Pocetok za navigacija*/
nav{
   text-align: center;
    padding-top: 25px;
}
a{
    text-decoration: none;
    font-size: 19px;
}
nav a{
    color: #EEEEEE;
}
nav li::after{
    content: '';
    width:0;
    height: 2px;
    transition: 0.5s;
    border-radius: 5px;
    background: #FFA500;
    display: block;
    margin: auto;
}
nav li:hover::after{
    width:100%;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;

}
/*Kraj za navigacija*/
/*Pocetook home*/
#home p{
    font-family: 'Brush Script MT';
    color: #EEEEEE;
    font-size:145px;
    text-align: center;
    padding-top: 100px;
}
#home .kopce{
    margin-top: 25px;
}
.kopce{
    width: 166px;
    height: 55px;
    background:#FFA500;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color:#EEEEEE;
    transition: 0.3s;
}

.kopce:hover{
    /* border: 2px solid #FFA500;*/
    color:#FFA500;
    border: 3px solid #FFA500;
    background:rgb(255,255,255,0.8);
    opacity: 1.0;
    padding: 15px;
}
/*kraj home*/
/*pocetok special*/
#special{
    width: 100%;
    text-align: center;
}
.naslov{
    text-align: center;
    font-weight: 100;
    font-size: 35px;
    display: inline-block;
    padding-top: 80px;

}
.naslov:after {
    content: '';
    width: 80px;
    background: #C14E4F;
    height: 2px;
    margin: auto;
    display: block;
    margin-top: 20px;
}
#special>div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.specijaliteit{
    width: 360px;
   margin: 25px 25px 20px 15px;
}
.specijaliteit div{
    background-size: cover;
    background-position: center;
    width: 360px;
    height: 230px;
    font-size: 55px;
    border-radius: 6px;
    transition: 0.4s;
    font-family: 'Comic Sans MS';
}
.specijaliteit div:after{
    content: '';
    width: 0;
    background:rgb(0,0,0,0.5);
    height: 100%;
    margin: auto;
    justify-content: center;
    color: #EEEEEE;
    display: flex;
    align-items: center;
    opacity: 1.0;
    border-radius: 6px;
    transition: 0.4s;
}
.specijaliteit div:hover::after{
    width: 100%;
    content: '22$';
}
.specijaliteit div:hover{
    transform: scale(1.1);
}
.specijaliteit:nth-of-type(1) div {
    background-image: url("img/specials/1.jpg");
}
.specijaliteit:nth-of-type(2) div {
    background-image: url("img/specials/2.jpg");
}
.specijaliteit:nth-of-type(3) div {
    background-image: url("img/specials/3.jpg");
}
.specijaliteit h2{
    font-weight: 50;
    padding-bottom: 20px;
}
.specijaliteit p{
    padding-top: 12px;
    line-height: 1.5;
    color: #77778D;
}
/*kraj special*/
#about{
    width: auto;
    height: auto;
    display: flex;
    background: #F6F6F6;
    flex-direction: row;
}
#about img{
    width: 700px;
    height: 565px;
}
.about{
    width: 500px;
    margin-left: 10%;
    padding-top: 50px;
    padding-right: 10%;
    padding-bottom: 4%;
}
.about p{
    line-height: 1.5;
    color: #77778D;
    font-size: 16px;
    padding-top: 20px;
}
.about h1{
    font-weight: 100;
    font-size: 35px;
    display: inline-block;
    padding-bottom: 30px;

}
.about h1:after{
    content: '';
    width: 35%;
    background:#C14E4F;
    height: 3px;
    display:block;
    margin-top: 20px;
}
.about a{
    display: inline-block;
    color: #EEEEEE;
    margin-top: 7%;
    background: #C14E4F;
    padding: 15px 10px;
    transition: 0.4s;
}
.about a:hover{
    color: #C14E4F;
    background: white;
    border: 1px solid #C14E4F;
}
#menu{
    width: auto;
}
.ceni .naslov{
    padding-top: 25px;
}
.naslov-menu{
    text-align: center;
    padding-bottom: 40px;
}
.container {
    display: flex;
    width: auto;
    margin: auto;
    justify-content: center;

}
.container #flex{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
#flex{
    margin-bottom: 80px;
}
.ceni{
    width: 500px;
    margin-right: 40px;
    margin-left: 40px;
}
.ceni div:last-of-type{
    margin-bottom: 30px;
}
.ceni div p:first-of-type{
    display: inline;
    font-size: 20px;
    font-weight: 300;
}
.ceni div p:nth-of-type(2){
    display: inline;
    float: right;
    font-size: 24px;
}
.ceni div p:last-of-type{
    padding: 2% 0;
    line-height: 1.4;
    color: #77778D;
}
#gallery{
    display: flex;
    width: auto;
    justify-content: center;
}
#gallery div{
    width: 379px;
    height: 270px;
}
#gallery div:first-of-type{
    background: url("img/gallery/01.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
#gallery div:nth-of-type(2){
    background: url("img/gallery/02.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
#gallery div:nth-of-type(3){
    background: url("img/gallery/03.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
#gallery div:last-of-type{
    background: url("img/gallery/04.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
#sef{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sef .about{
    margin-left: 0;
    padding-left: 5%;
   padding-right: 7%;
}
#sef img{
    width: 550px;
    height: 350px;
}
@media (max-width: 1177px){
    #about{
        flex-direction: column;
    }
    #about img{
        width: auto;
        height: 400px;
    }
    .about{
        width: auto;
    }
}
@media (max-width: 1024px){
    .ceni .naslov{
        height:101px;
    }
    #sef {
        flex-direction: column;
    }
    #sef img{
        width: 100%;
        height: 350px;
        margin-top: 10%;
    }
    #sef .about{
        padding-left: 10%;
    }
}
@media (max-width: 850px){
    nav{
        display: none;
    }
    #home p{
        padding-top: 150px;
        font-size:130px;
    }

    .specijaliteit{
    margin: auto;
        padding-top: 35px;
    }
    .ceni{
        width: auto;
        margin: auto;
        padding: 0 10% 10% 10%;
    }
    .container{
        flex-direction: column;
    }
    #gallery{
        flex-wrap: wrap;
    }

}
